/* General styles
===========================================*/

* {
    box-shadow: none;
}
html,
body {
    overflow-x: hidden;
}
body {
    font-family: "Alegreya", Georgia, serif;
    font-weight: normal;
    color: #333;
    font-size: 1.75em;
    background: #f9f9f9;
    margin: 0px;
}

img {
    max-width: 200px;
}