 {% extends "layout.html" %}
 {% block title %}{{ super() }} {% endblock %}

 {% block content %}

 <h1>Edit Project</h1>

    <form action ="{{ url_for('editProject',profile_id = profile.id,
                    project_id = project.id)}}" method = 'post'>

        <p>Name:</p>
        <input type='text' size='30' name='name'
        placeholder = "{{ project.name }}">

        <p>Profile Picture (URL):</p>
        <input type='text' size='30' name='picture'
        placeholder = "{{ project.picture }}">

        <p>Description:</p>
        <input type='text' size='30' name='description'
        placeholder = "{{ project.description }}">

        <p>Source Code (URL):</p>
        <input type='text' size='30' name='sourcecode'
        placeholder = "{{ project.sourcecode }}">

        <p>Live Demo (URL):</p>
        <input type='text' size='30' name='livedemo'
        placeholder = "{{ project.livedemo }}">

        <input type='submit' value='Update'>
        <a href='{{url_for('showProjects', profile_id = profile.id) }}'>Cancel</a>
    </form>


 {% endblock %}