 <!doctype html>
    <html>
        <head>
            <title>{% block title %}Dev Post{% endblock %}</title>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
            <link rel="stylesheet" type="text/css" href="css/normalize.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="/static/styles.css">
            <link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One|Alegreya:400italic,700italic,400,700|Alegreya+SC' rel='stylesheet' type='text/css'>
        </head>
        <body>
             <div class="container">
                <!-- Navigation
                ==========================================================================-->

                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                Menu
                            </button>

                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-text">
                                <li>DEVPOST</li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{url_for('showProfiles')}}">Profiles</a>
                                </li>
                                <li><a href="#portfolio">MyProfiles</a>
                                </li>
                                <li> {% if 'username' not in session %}
                                        <a href="{{url_for('showLogin')}}"> Login</a>
                                    {% else %}
                                        <a href="{{url_for('gdisconnect')}}">Logout</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
                <hr>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                  {% endif %}
                {% endwith %}

                {% block content %}{% endblock %}
            </div>

        </body>
    </html>