 {% extends "layout.html" %}
 {% block title %}{{ super() }} {% endblock %}

 {% block content %}

 <h1>Profile list</h1>
<a href='{{url_for('newProfile') }}'>New Profile</a>

    {% for profile in profiles %}

    <div class="profile col-sm-6 col-md-4">
    <a class="profile-name" href='{{url_for('showProjects',
         profile_id = profile.id) }}'>
        {{profile.name}}
        <img class="profile-photo" src="{{profile.picture}}"> <br>

        </a>
    </div>


    {% endfor %}

 {% endblock %}
