 {% extends "layout.html" %}
 {% block title %}{{ super() }} {% endblock %}

 {% block content %}

 <a href='{{url_for('showProfiles') }}'><< All Profiles</a>

 <h1>{{profile.name}}</h1>

    <div>
        <img src="{{profile.picture}}"> <br>
        <a class="profile-name" href='{{url_for('showProjects',
         profile_id = profile.id) }}'>
        {{profile.name}}
        </a><br>
        <a class="" href='mailto:{{ profile.email }}'>
        {{profile.email}}
        </a><br>
        <a class="" href='{{ profile.github }}'>
        {{profile.github}}
        </a><br>
        <a class="" href='{{ profile.twitter }}'>
        {{profile.twitter}}
        </a>
    </div>

    {% for project in projects %}

        <br>
        <hr>

        <a class="project-name" href='{{project.name}}'>
        {{project.name}}
        </a><br>

        <a class="project-picture" href='{{project.picture}}'>
        <img src="{{project.picture}}">
        </a><br>

        <p class="project-description">
        {{project.description}}
        </p><br>

    {% endfor %}

        <br>
        <hr>
        <a href='{{url_for('editProfile',
         profile_id = profile.id) }}'>Edit Profile</a>

        <a href = '{{url_for('deleteProfile',
         profile_id = profile.id) }}'>Delete profile</a>
 {% endblock %}